{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <p class="date">
    Поделился {{ post.publish }}  {{ post.author }}
  </p>
 <p>{{ post.body|linebreaks }}</p>
  {% with comments.count as total_comments %}
 <h2>{{ total_comments }} Комментариев</h2>
{% endwith %}
{% for comment in comments %}
 <div class="comment">
 <p class="info">
 Опубликовал  {{ comment.name }}
 {{ comment.created }}
 </p>
 {{ comment.body|linebreaks }}
 </div>
{% empty %}
 <p>Комментариев нет.</p>
{% endfor %}
<h2>Добавить новый комментарий</h2>
 <form action="{% url "blog:post_comment" post.id %}" method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <p><input type="submit" value="Добавить комментарий"></p>
 </form>

  
{% endblock %}
